.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 8px;
}

.controls {
    display: flex;
    align-items: center;
    gap: 8px;
}

.button {
    cursor: pointer;
}

.toggle {
    background: orange;

    &.completed {
        background: limegreen;
    }
}